table
	{
		size : 100%;
		margin : auto; /* Centre le tableau */
		border-collapse: collapse;
		border: 1px solid black;
	}
caption
{
	border: 1px solid black;		
}	
	
td, th /* Mettre une bordure sur les td ET les th */
	{
		border: 1px solid black;
		text-align:center;
		padding: 5px; /* Petite marge int�rieure aux cellules pour �viter que le texte touche les bordures */
	}
th
	{	
		
		font-size:1.5em;
	}
h1, h2, h3
        {
            text-align:center;
        }
h3, caption
        {
            background-color:black;
            color:white;
            font-size:1.2em;
            margin-bottom:0px;
        }
.boutonPrecedent
{
	position: absolute;
	left: 15px;
	top: 55px;

}
.boutonSuivant
{
	position: absolute;
	right: 35px;
	top: 55px;

}
.invisible
{
	size : 100%;
	margin: auto; /* Centre le tableau */
	border-collapse: collapse;
	border: 0px;
}

table.invisible
{
	position:absolute;
	top:200px;
}

.pied
{
	font-family:  Times, "Times New Roman", serif;
	font-size : 0.8em;
	text-align : center; 
	
}