/* 
    Created on : 19 mars 2016, 17:45:43
    Author     : sylvain
*/

/************************************************************************
Police de caractères spécifiques
************************************************************************/
/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 
@font-face {
    font-family:"Rock Salt";
    src:url("font/RockSalt.eot?") format("eot"),url("font/RockSalt.woff") format("woff"),url("font/RockSalt.ttf") format("truetype"),url("font/RockSalt.svg#RockSalt") format("svg");
    font-weight:normal;
    font-style:normal;
}

/************************************************************************
 Style général
 ************************************************************************/

body {
    margin : 0 10% 0 10%;
    background-color : #333;
    color: chocolate; 
    font-family:  "Arial", "Trebuchet MS";
    width: 80%;
    min-height: 800px;
    min-width: 800px;
}

footer {
    font-size : 0.8em;
    text-align: center;
}

header {
    font-size : 1.4em;
    font-weight: bold;
    padding-bottom: 3px;
    text-align: center;
    letter-spacing: 2px;
    font-variant-caps:  petite-caps;
}

header.titre {
    margin-top : 10px;
}

a:link {
    color : SandyBrown;
}
a:visited {
    color : SaddleBrown;
}
/************************************************************************
affichage du menu
 ************************************************************************/
section.menu {
    
    height: 80%;
    display : flex;
    flex-direction : column;
    justify-content: space-around;
}

.ligneMenu {
    display : flex;
    flex-direction : row;
    justify-content: space-around;
    padding: 5px ;
    margin: 10px;
} 

.unecase {   
    margin: 0px 5px 0px 5px;
    padding: 5px ;    
    background-color:  grey;
    color:  black;   
    border-radius:5px;
    height: 120px;
    word-wrap: break-word;
}

.unecase ::first-letter {
     text-transform: capitalize;
}

.jour{
    color: #DD0;
    font-weight: bold;
    text-decoration: none;
    /*text-decoration-color: -moz-use-text-color;
     text-decoration-line: none;text-shadow: 00px 0px 05px #000;
     text-decoration-style: solid;*/
    width: 150px;
    font-family: "Rock Salt",arial,serif;
    font-size:20px;
    text-align: center;
}

.midi.tantot {
    background-color: lightgoldenrodyellow; 
    width: 40%;
    color: chocolate; 
    background-repeat:no-repeat;
    background-image : url(../images/sun2.png);
    background-position:115% -120%;
}
.soir.tantot {
    width: 60%;
    background-repeat:no-repeat;
    background-image : url(../images/moon1.png);
    background-position:108% 50%;
}

.midi.matin {
    background-color: lightgoldenrodyellow; 
    width: 60%;
    color: chocolate; 
    background-repeat:no-repeat;
    background-image : url(../images/sun.png);
    background-position:110% 90%;
}
.soir.matin {
    width: 40%;
    background-repeat:no-repeat;
    background-image : url(../images/moon2.png);
    background-position:102% 50%;
}

.midi.saisi {
    background-color: lightgoldenrodyellow; 
 
    color: chocolate; 

}
.saisi {
    width: 40%;
    
    margin: 5px;
}

.selection {
    font-size : 1.4em;
    height: 120px;
}

.selection.tantot{
    background-color: #dadada ; 
}

.selection.matin{
    background-color:  aqua ; 
    color:  maroon; 
}

.message {
    margin-top: 20px;
    text-align: center;
    font-size : 1.4em;
}

/* style des affichages des textes des repas */
.repas {
    
}

/* ne fonctionne pas ???*/
.entree,
.plat,
.lait,
.dessert {    
    margin : 0 0 2px 0;
}

/*pas utilisé*/
.commentaire {}


/* formulaire de saisie des menus */
.dateFormulaireSaisie {
    font-size : 1.4em;
    margin: 5px 5px 0px 5px;
}

.formulaireSaisie {
    display : flex;
    flex-direction : column;
    justify-content: flex-start;
    padding: 5px ;
    margin: 10px;
    width: 80%;
    height: 80%;
}

.formulaireBoutonRadio {
    display : flex;
    flex-direction : column;
    justify-content: flex-start;
}

.formulaireLesChamps {
    display : flex;
    flex-direction : column;
    justify-content:  center;
    margin-left: 80px;
}
.formulaireLigneChamp {
    display : flex;
    flex-direction : row;    
    justify-content: flex-start;
    padding: 5px ;
}
.formulaireLigneRadio {
    display : flex;
    flex-direction : row;    
    justify-content: flex-start;
    padding: 5px ;
}
.formulaireColonneLibelle {
    display : flex;
    flex-direction : column;    
    justify-content:  flex-end;
    padding: 0px 5px 5px  5px ;
}

.formulaireBoutonValidation{
    display : flex;
    flex-direction :row;
    justify-content:    flex-end;
    width: 60%;
    margin :30px;
    height: 30px;
}

.formulaireLogin {
    min-height : 400px;
    display : flex;
    flex-direction : column; 
    justify-content:center;

}
.formulaireBoutonRepas{
  
}

.unecase>div {
    display : flex;
    flex-direction: row;
    justify-content:  space-between;
    margin-top: 0px;
}

.palibel{
    padding-bottom: 8px; 
    margin:  0px 5px 0px 15px;
    width: 70px;
}
.palibel2{
    padding-bottom: 8px; 
    margin:  0px 5px 0px 15px;
    width: 120px;
}

.pachamp{
    margin-bottom: 8px;
}

.boutonValidation {
    margin: 0px 30px 0px 30px;
}

.boutonConnexion {
    margin-left: 10px;
}
/************************************************************************
navigation du menu
 ************************************************************************/
nav.principal {
    display : flex;
    flex-direction : row;
    justify-content: space-between;
}
