h1, h3
        {
            text-align:center;
			color: #000099;
			font-family: "Comic Sans MS", "Trebuchet MS", Times, "Times New Roman", serif;
        }
h3
        {
            background-color:black;
            color:white;
            font-size:1.2em;
            margin-bottom:0px;
        }
caption /* Titre du tableau */
{
   margin: auto; /* Centre le titre du tableau */
   font-family: Arial, Times, "Times New Roman", serif;
   font-weight: bold;
   font-size: 1.2em;
   color: #000099;
   
   margin-bottom: 10px; /* Pour �viter que le titre ne soit trop coll� au tableau en-dessous */
}

table /* Le tableau en lui-m�me */
{
   margin: auto; /* Centre le tableau */
   border: 4px solid blue; /* Bordure du tableau avec effet 3D (outset) */
   border-collapse: collapse; /* Colle les bordures entre elles */
   background-image: url(../images/opaque30.png);
}

th /* Les cellules d'en-t�te */
{
   background-color: #000066;
   color: white;
   font-size: 1.1em;
   font-family: Arial, "Arial Black", Times, "Times New Roman", serif;
   border-top-width : 0px;
}

td /* Les cellules normales */
{
   border: 1px solid blue;
    /*border-top : 1px solid black;*/
    border-top-width : 0px;
   font-family: "Comic Sans MS", "Trebuchet MS", Times, "Times New Roman", serif;
   text-align: center; /* Tous les textes des cellules seront centr�s*/
   padding: 5px; /* Petite marge int�rieure aux cellules pour �viter que le texte touche les bordures */
   empty-cells : collapse;
}
body
{
	background-image: url(../images/texture220.jpg);
	 background-attachment: fixed; /* Le fond restera fixe */
	
}
.boutonPr�c�dent
{
	position: absolute;
	left: 15px;
	top: 75px;
	width : auto;
	max-width  :150px;
	text-align : center;
}
.boutonSuivant
{
	position: absolute;
	right: 35px;
	top: 75px;
	width : auto;
	max-width  : 150px;
	text-align : center;
}
.invisible
{
	size : 100%;
	margin: right;
	border-collapse: collapse;
	border: 0px;
	text-align : right; 
	
  
}

table.invisible
{
	position:absolute;
	right:10px;
	top:100px;
	border: 1px solid black;
	border-top :0px;
	margin : clear;
}

caption.invisible
{
	text-align : center; 
	font-size : 1em;
	border-top : 1px solid black;
	border-left : 1px solid black;
	border-right : 1px solid black;
	margin-bottom:0px;
	padding: 5px; 
}

.accueil
{
	font-family:  "Comic Sans MS", "Trebuchet MS", Times, "Times New Roman", serif;
	font-size : 1.1em;
	width: 30%;
   text-align: justify;
	
}

.pied
{
	font-family:  Times, "Times New Roman", serif;
	font-size : 0.8em;
	text-align : center; 
	
}

P.boutonsinserer
{
	text-align : center;
}
input.boutonsinserer
{
	width : auto;
	max-width  :100px;
	height : auto;
	max-height : 50;
}
div.titm:first-line /* La premi�re ligne de chaque paragraphe */
{
	font-family: "Comic Sans MS", "Trebuchet MS", Times, "Times New Roman", serif;
   font-size : 1.2em;
   font-variant: small-caps; /* En petites capitales */
}
